.avatar{
    border-radius :777px;
}
li{
    transition: transform 0.6s;
}
li:hover{
    transform: scale(1.1);
    margin: 10px;
}
.bio{
    display: flex;
}
body{
    background-color: #a3a3c2;
}
.tiny5-regular {
    margin: 70px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    list-style-type: "\1F48E";
}  
.meme{
    width: 300px;
    display: flex;
    border-radius : 20px;
}
.html_X_css{
        display: flex;
        height: 700px;  
        justify-content: center;
        gap: 30px;       
}
.html_X_css img{
    transition: transform 1.1s;
}
.html_X_css img:hover{
transform:scale(1.1) ;
}
.projects{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
::-moz-selection { /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: rgba(255, 0, 0, 0.444);
  }
  
  ::selection {
    color: rgb(0, 0, 0);
    background: rgba(255, 0, 0, 0.59);
  }